// MIXINS

@mixin basic-flex($jc: center, $ai: center, $fd: row ){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin button($wh: 0px 12px, $fs: 14px,){
    padding: $wh;
    line-height: 32px;
    background-color: #1473E6;
    color: white;
    border-radius: 16px;
    font-size: $fs;
    font-weight: 500;
    border: none;
}