/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav #topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  width: 100vw;
  background-color: #fff;
}

nav #topNav .adobeLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  padding: 0 20px;
  background-color: #fff;
  font-size: 16px;
}

nav #topNav .adobeLogo span {
  margin-left: 10px;
  font-size: 15px;
}

nav #topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
}

nav #topNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  padding: 0px 20px;
  background-color: #fff;
  font-size: 14px;
}

nav #topNav ul li:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav #topNav #accountInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  background-color: #fff;
  margin: 0 20px;
}

nav #topNav #accountInfo span {
  margin-left: 12px;
  font-size: 14px;
  color: #6b6b6b;
}

nav #topNav #accountInfo span:hover {
  cursor: pointer;
  color: #2B9AF3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav #topNav #accountInfo div {
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: #fff;
}

nav #topNav #accountInfo div svg {
  fill: #6b6b6b;
}

nav #topNav #accountInfo div svg:hover {
  cursor: pointer;
  fill: #2B9AF3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav #bottomNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 10;
  height: 80px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

nav #bottomNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
}

nav #bottomNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: auto;
  padding: 0 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

nav #bottomNav ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav #bottomNav ul li:first-child {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

nav #bottomNav ul li:first-child::before {
  height: 25px;
  width: 33px;
  content: url("/assets/imgs/creativeCloudIcon.svg");
  margin-right: 15px;
}

nav #bottomNav ul button {
  padding: 0px 12px;
  line-height: 32px;
  background-color: #1473E6;
  color: white;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

nav #bottomNav ul button:hover {
  cursor: pointer;
  background-color: #005ABE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#homeHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: -80px;
  z-index: 5;
  height: auto;
  min-height: 70vh;
  width: 100vw;
  background-color: #333;
}

#homeHero video {
  height: auto;
  width: 100%;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
}

#homeHero #homeHeroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 50vw;
  z-index: 10;
  position: relative;
  color: white;
  padding-top: 173px;
  padding-bottom: 74px;
}

#homeHero #homeHeroContent img {
  height: 84px;
  width: 112px;
}

#homeHero #homeHeroContent h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-top: 28px;
  line-height: 1.3;
}

#homeHero #homeHeroContent h2 {
  width: 760px;
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 1.5;
  text-align: center;
}

#homeHero #homeHeroContent button {
  padding: 0px 20px;
  line-height: 32px;
  background-color: #1473E6;
  color: white;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 500;
  border: none;
}

#homeHero #homeHeroContent button:hover {
  cursor: pointer;
  background-color: #005ABE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  font-family: 'Lato', sans-serif;
}

nav {
  font-family: 'Lato', sans-serif;
}
/*# sourceMappingURL=main.css.map */