// HOME PAGE

#homeHero {
    @include basic-flex();

    position: relative;  //so it can be visible under the bottom navbar.
    top: -$bottomNavHeight;  //(-80px)
    z-index: 5;

    height: auto;
    min-height: 70vh;  //70vh;
    width:  100vw;
    background-color: #333;

    #homeHeroContent {
        @include basic-flex(center, center, column);

        height: auto;
        width:  60vw;
        background-color: #555;

        img {
            height: 84px;
            width:  112px;
        }

        h1 {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 900;
            font-size:   45px;
            
        }

        button {
            @include button(0px 20px, 15px);
        }
    } //#homeHeroContent
} //#homeHero

